extends layout

block content
  h1= title
  p Use the application generator tool, express-generator, to quickly create an application skeleton.
  p The app structure created by the generator is just one of many ways to structure Express apps. Feel free to use this structure or modify it to best suit your needs.
  br
  br
  p @Sowmya Thogiti
